

body{
    margin:0;
    padding:0;
    background-color:white;
    /* background-color: #0F0F0F; */
}
::-webkit-scrollbar{
    width: 30px;
   
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 48px;
    z-index: 2;
    background-color: white;
    /* background-color: #0F0F0F; */

}

.logo img{
    width: 120px;
}

.search-bar input{
    width: 35rem;
    padding: 9px;
    border: 1px solid #eee;
    border-radius: 8px;
    outline: none;
}


.sidebar-container{
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
    border-right: 1px solid #eee;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.sidebar-item{
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 140px;
    /* overflow-y: scroll; */
}






.videos-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px 0px 20px 255px;
}





.video-container {
    margin-top: 20px;
    margin-bottom: 40px;
}

.images {
    width: 295px;
    height: 175px;
    margin-bottom: 5px;
    border-radius: 12px;
}

.video-description {
    display: flex;
    flex-direction: row;
}

.video-details {
    width: 200px;
    margin-top: 3px;
    margin-left: 10px;
    justify-self: flex-end;
}




@media screen and (max-width:568px) {
        .sidebar-container{
            display:none;
        }
        .videos-section{
            margin-left: 5px;
        }
        .search-bar input {
            width: 140px;
        }
        nav{
            width: 96%;
            padding-left: 10px;
        }
        .icons-list{
                display: flex;
        }
}